<div class="header">
    <div>
        <a href="{{ path('home') }}"><img src="https://www.anii.org.uy/html/img/logo_anni.png" alt="logo"</a>
    </div>
    <div>
        {% if arrayMenu is defined %}
            {% for arrayMenuItem in arrayMenu %}
                <a href="{{ path(arrayMenuItem) }}">{{ arrayMenuItem }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>